.cv .h1, .cv .h2 { color: #000523; }
.cv p { font-weight: 300; }
.cv h2 { text-transform: uppercase; }

.cv .head h1 {
  margin: 0 0;
  font-size: 3rem;
  border-bottom:
  solid 2px #489894;
  margin-left: 130px;
}
.cv .head {
  text-align:
  right; min-height: 160px;
}
.cv .head .photo { float: left; }
.cv .head .photo img {
  height: 120px;
  border-radius: 70px;
  padding: 3px;
  border: solid 3px #489894;
}

.cv .head .info-line {
  font-size: 1.1em;
  margin-bottom: .5em;
}
