---
# Main site styling
---
@media print {
  header { display: none }
  footer { display: none }
  html, body { margin: 0; padding: 0 }
  body { font-size: 13px }
  body section { border: none; padding: 0 }
  .page-break { page-break-after: always; }
}

.cv {
  .h1, .h2 { color: #000523 }
  p { font-weight: 300; }
  h2 { text-transform: uppercase; }

  .head {
    text-align:
    right; min-height: 160px;
    h1 {
      margin: 0 0;
      font-size: 2.5rem;
      border-bottom:
      solid 2px #489894;
      margin-left: 130px;
    }
    .photo {
      float: left;
      img {
        height: 125px;
        border-radius: 70px;
        padding: 3px;
        border: solid 3px #489894;
      }
    }
    .info-line {
      font-size: 1.1em;
      margin-bottom: .5em;
    }
    .socials span { margin-left: 0.5em }
  }
  .skill {
    margin: .5em 0;
    border-bottom: dashed 1px #ddd;
    .title {
      display: inline-block;
      width: 300px;
      h4 { margin: 0 }
      i {
        font-size: 1.7em;
        display: inline-block;
        margin-right: 0.2em;
        line-height: 0.75em;
        vertical-align: -25%;
      }
    }

    .level {
      display: inline-block;
    }

    .description {
      margin: .5em 0
    }
  }

  .icon-kitchen-sink {
    i { font-size: 2em; }
  }
}

.rating {
  display: flex;
  align-items: stretch;
  width: 100px;
  & > div {
    height: 5px;
    margin: 0.1em;
    background-color: #489894;
    flex-grow: 1
  }
  .empty { opacity: 0.4 }
}


i[class$="ruby_on_rails"]    { color: #971323 }
i[class$="php"]              { color: #677eb7 }
i[class$="html5"]            { color: #e44d27 }
i[class$="dotnet"]           { color: #2288c8 }
i[class$="msql_server"]      { color: #e7322b }
i[class$="linux"]            { color: #202020 }
i[class$="sass"]             { color: #c6538c }
i[class$="git"]              { color: #f44d27 }
i[class$="perl"]             { color: #51547f }
i[class$="javascript_badge"] { color: #fadc3e; background-color: black }
i[class$="css3"]             { color: #1b73ba }
i[class$="mysql"]            { color: #e87912 }
i[class$="postgresql"]       { color: #336791 }
i[class$="apple"]            { color: black }
i[class$="windows"]          { color: #30adee }
i[class$="ubuntu"]           { color: #dd4814 }
i[class$="terminal"]         { color: inherit }
i[class$="gnu"]              { color: inherit }
i[class$="aws"]              { color: #f99902 }
i[class$="sublime"]          { color: #4c4c4c }
i[class$="atom"]             { color: #36ad7d }
i[class$="visualstudio"]     { color: #68217a }
i[class$="nginx"]            { color: #309900 }

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
  font-size: 1.2em;
}
.flag-icon:before {
  content: "\00a0";
}

.flag-icon-eu {
  background-image: url(../images/flags/eu.svg);
}
.flag-icon-gb {
  background-image: url(../images/flags/gb.svg);
}
.flag-icon-us {
  background-image: url(../images/flags/us.svg);
}
.flag-icon-se {
  background-image: url(../images/flags/se.svg);
}
